<wicket:panel>
	<div wicket:id="sectionFragment"/>
</wicket:panel>

<wicket:fragment wicket:id="defaultSection">
	<fieldset>
		<legend wicket:id="sectionTitle" />
		<ul>
			<div wicket:id="elementList">
				<li>
					<div wicket:id="elementPanel" />
				</li>
			</div>
		</ul>
		<input type="button" wicket:id="removeButton"/>
	</fieldset>
</wicket:fragment>

<wicket:fragment wicket:id="hiddenSection">
		<ul>
			<div wicket:id="elementList">
				<li>
					<div wicket:id="elementPanel" />
				</li>
			</div>
		</ul>
		<input type="button" wicket:id="removeButton"/>
</wicket:fragment>